@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Asap-Bold;
    src: url(../fonts/Asap/Asap-Bold.ttf)
}
@font-face {
    font-family: Asap-Italic;
    src: url(../fonts/Asap/Asap-Italic.ttf);
}
@font-face {
    font-family: Asap-Medium;
    src: url(../fonts/Asap/Asap-Medium.ttf);
}
@font-face {
    font-family: Asap-Regular;
    src: url(../fonts/Asap/Asap-Regular.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

body{
    font-family: Montserrat-Regular;
    font-weight: 400;
}
.upline{
    height: 3px;
    width: 80px;
    background: gray;
}

:root{
	/*Theme colors*/


	/*gradient color*/

	/*theme font family*/
    --Montserrat-Regular: Montserrat-Regular;
    --Asap-Bold: Asap-Bold;
    --Asap-Italic: Asap-Italic;
    --Asap-Medium: Asap-Medium;
    --Asap-Regular: Asap-Regular;
    --Lato-Light: Lato-Light;
    --Lato-Regular: Lato-Regular;
}

/* header start  */
#header{
    background: transparent;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.navbar-brand img{
    width: 200px;
}
.my-nav{
    background: transparent !important;
}
.my-nav li{
    text-align: right;
}
.my-nav li a{
    color: #191919 !important;
    font-family: var(--Asap-Regular);
    text-transform: uppercase;
    margin-left: 30px !important;
    border-bottom: 3px solid transparent;
}
.my-nav li a.active{
    border-bottom: 2px solid rgb(66, 191, 230);
}
.my-nav li a:hover{
    border-bottom: 2px solid rgb(66, 191, 230);
    transition: 0.1s;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 9px 2px;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
/* header end  */
/* banner section start  */
#banner{
    background-image: url(../img/header-banner-bg.png);
}
.banner-box1{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 5px solid rgb(255, 253, 253);

}
.banner-box1 img{
    width: 500px;
}
.banner-left{
    padding-top: 250px;
    padding-bottom: 150px;
}
.banner-title{
    font-family: var(--Asap-Medium);
    font-weight: 600;
    font-size: 60px;
    color: #4d4d4d;
}
.banner-sub-title{
    font-family: var(--Asap-Medium);
    color: #b9b9b9;
    font-size: 20px;
    font-weight: bold;
}
.c-btn-banner-know{
    border-radius: 0;
    box-shadow: 2px 3px 12px 0px gray;
    text-transform: uppercase;
    font-family: var(--Asap-Medium);
    padding: 10px 40px;
    z-index: 99;
}
.c-btn-banner-know:hover{
    box-shadow: 3px 4px 12px 0 gray;
    background: hotpink;
    border: 1px solid hotpink;
    color: white;
    transition: 0.4s;
}
.c-btn-banner-hire{
    border-radius: 0;
    text-transform: uppercase;
    margin-left: 20px;
    padding: 10px 40px;
    font-family: var(--Asap-Medium);
    border: 1px solid black;
    z-index: 99;
}
.c-btn-banner-hire:hover{
    background: magenta;
    border: 1px solid magenta;
    color: white;
    transition: 0.4s;
}
.banner-right{
    padding-top: 100px;
}
.banner-right .circle{
    border-radius: 50%;
    border: 40px solid whitesmoke;
    padding-bottom: 20px;
}
/* banner section end  */

/* about section start  */
#about{
    margin-top: 100px;
}
.about-left{
    margin-top: 100px;
}
.c-btn-about-more{
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 20px 0;
    font-family: var(--Asap-Medium);
    border: 1px solid black;
    z-index: 99;
}
.c-btn-about-more:hover{
    background: magenta;
    border: 1px solid magenta;
    color: white;
    transition: 0.4s;
}

.about-title{
    font-family: var(--Asap-Bold);
    color: #4d4d4d;
    font-size: 50px;
}
.about-desc{
    font-family: var(--Asap-Regular);
    color: #b9b9b9;
}
.about-right a{
    width: 100%;
    transition: all 1s ease;
}
.about-right a:hover img{
    transform: scale(1.3);
}
/* about section end  */

/* service section start  */
#service{
    margin-top: 100px;
    background: #f6f6f6;
    padding-top: 50px;
}
.service-title{
    font-family: var(--Asap-Bold);
    color: #6f6f6f;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.service-item{
    margin-top: 20px !important;
    padding: 20px;
}
.service-item i{
    font-size: 50px;
    color: #4d4d4d;
    margin-bottom: 15px;
}
.service-item h4{
    color: #4d4d4d;
    font-size: 20px;
    font-family: var(--Asap-Medium);
}
/* service section end  */

/* charts section start  */
#Projects-charts{
    padding-top: 50px;
    padding-bottom: 500px !important;
}
.canvasjs-chart-credit{
    display: none !important;
}

/* charts section end  */
/* skill section start*/
.skill-title{
    margin-bottom: 40px;
    font-family: var(--Asap-Bold);
    color: #6f6f6f;
}
.progress-box{
    margin-bottom: 40px;
}
.progress-box .progress-lebel{
    font-family: var(--Lato-Regular);
    text-transform: uppercase;
}
.progress-box .progress-lebel span{
    margin-left: 20px;
}
.progress-box .progress{
    height: 5px;
}
.progress-box .progress .progress-bar{
    background: #10c9c3;

}
.progress-html-css .progress .progress-bar{
    animation: progress-html-css 1.5s both;

}
.progress-bootstrap .progress .progress-bar{
    animation: progress-bootstrap 1.5s both;
}
.progress-psd .progress .progress-bar{
    animation: progress-psd 1.5s both;
}
.progress-js .progress .progress-bar{
    animation: progress-js 1.5s both;
}
.progress-php .progress .progress-bar{
    animation: progress-php 1.5s both;
}
.progress-database .progress .progress-bar{
    animation: progress-database 1.5s both;
}
.progress-wordpress .progress .progress-bar{
    animation: progress-wordpress 1.5s both;
}
@keyframes progress-html-css {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes progress-bootstrap {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes progress-psd {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes progress-js {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes progress-php {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes progress-database {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes progress-wordpress {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* accrodion section  */
.accordion-button:focus{
    box-shadow: none !important;
}
.c-accordion{
    background: #10c9c3;
    color: #191919;
    font-family: var(--Lato-Regular);
}
.c-accordion:not(.collapsed){
    color: #ffff;
    background: #b9b9b9;
}
.accordion-body{
    font-family: var(--Asap-Medium);
    color: #b9b9b9;
    background: #333;
}
/* skill section end  */
